
<table class="table table-borderless">
  <tr>
    <td>Nama</td>
    <td>
      <input id="name" class="form-control" maxlength="10">
      <small id="errname" class="text-danger"></small>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <button id="addcrBtnCancel" class="btn btn-outline-dark">Cancel</button>
      <button id="addcrBtnCreate" class="btn btn-primary">Create</button>
    </td>
  </tr>
</table>

<script src="../customerrelation/addcustomerrelation.js"></script>