<input th:value="${id}" type="hidden" id="delCRId" xmlns:th="http://www.w3.org/1999/xhtml">
<h5>Yakin Hapus? </h5>

<table class="table table-borderless table-sm">
    <tr>
        <th>Nama</th>
        <td id="nameDel">name</td>
    </tr>
</table>
<button id="delCRBtnCancel" class="btn btn-outline-dark">Cancel</button>
<button id="delCrBtnDelete" class="btn btn-danger">Delete</button>

<script src="../customerrelation/deletecustomerrelation.js"></script>