<input th:value="${id}" type="hidden" id="editCRId" xmlns:th="http://www.w3.org/1999/xhtml">

<!--manggil di js-->

<table class="table table-borderless">
    <tr>
        <td>Nama</td>
        <td>
            <input id="name" class="form-control" maxlength="50">
            <small id="errname" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>
            <button id="editCRBtnCancel" class="btn btn-outline-dark">Cancel</button>
            <button id="editCRBtnCreate" class="btn btn-warning">Save Changes</button>
        </td>
    </tr>
</table>

<script src="../customerrelation/editcustomerrelation.js"></script>