<input th:value="${id}" type="hidden" id="doctorId">

<table class="table table-borderless">
    <tr>
        <td>Treatment</td>
        <td>
            <input id="name" class="form-control" maxlength="50">
            <small id="errName" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="addBtnCancel" class="btn btn-outline-dark">Cancel</button>
            <button id="addBtnCreate" class="btn btn-primary">Create</button>
        </td>
    </tr>
</table>

<script src="../doctortreatment/adddoctortreatment.js"></script>