<input th:value="${id}" type="hidden" id="delId">
<h5>Are you sure you want to delete this? </h5>

<table class="table table-borderless table-sm">
    <tr>
        <th>Nama</th>
        <td id="DoctorTreatmentDel">tesName</td>
    </tr>
</table>
<button id="delBtnCancel" class="btn btn-outline-dark">Cancel</button>
<button id="delBtnDelete" class="btn btn-danger">Delete</button>

<script src="../doctortreatment/deletedoctortreatment.js"></script>