<input th:value="${id}" type="hidden" id="editId">

<table class="table table-borderless">
    <tr>
        <td>Specialization</td>
        <td>
            <input id="nameEdit" class="form-control" maxlength="50">
            <small id="errName" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="editBtnCancel" class="btn btn-outline-dark">Cancel</button>
            <button id="editBtnCreate" class="btn btn-warning">Save Changes</button>
        </td>
    </tr>
</table>

<script src="../specialization/editspecialization.js"></script>