<script src="../register/info-register.js"></script>
<div class="col-auto container-fluid justify-content-start">
    <h2 class="text-center">Pendaftaran Berhasil!</h2>
    <br>
    <h4 class="text-center">Akun telah berhasil dibuat.</h4>
    <br>
    <div class="d-flex justify-content-center">
        <button id="btnTutupInfo" class="btn btn-success text-light"
                style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: 2.30rem; --bs-btn-font-size: 1rem;">Tutup</button>
    </div>
</div>