<script src="../register/set-userdata.js"></script>
<input th:value="${email}" type="hidden" id="saveEmail" readonly>
<input th:value="${password}" type="hidden" id="savePassword" readonly>

<div class="col-auto container-fluid justify-content-start">
    <div class="mb-3">
        <div id="group_fullname" class="container row">
            <label for="fullnameInput">Nama Lengkap*</label>
            <div class="col form">
                <input id="fullnameInput" class="form-control" type="text">
            </div>
            <small id="fullnameInputErr" class="text-danger"></small>
        </div>
    </div>
    <div class="mb-3">
        <div id="group_phoneNumber" class="container row">
            <label for="phoneNumber">Nomor handphone</label>
            <div class="col-md">
                <div class="input-group">
                    <span class="input-group-text bg-secondary" >
                        +62
                    </span>
                    <input id="phoneNumber" type="number" i class="form-control" placeholder="8123456789"
                           onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))">
                </div>
            </div>
            <small id="phoneNumberErr" class="text-danger"></small>
        </div>
    </div>
    <div class="mb-2">
        <div id="group_role" class="container row">
            <label for="roleSelect">Daftar Sebagai</label>
            <div class="form">
                <select id="roleSelect" class="form-select">
                    <option value="" selected="selected" >Pilih</option>
                </select>
            </div>
            <small id="roleSelectErr" class="text-danger"></small>
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <button id="btnDaftarFinal" class="btn btn-success"
                style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: 2.30rem; --bs-btn-font-size: 1rem;">Daftar</button>
    </div>
</div>