<script src="../lupapassword/info-lupapassword.js"></script>
<div class="col-auto container-fluid justify-content-start">
    <h2 class="text-center">Lupa password Berhasil!</h2>
    <br>
    <h4 class="text-center">Password akun telah diperbarui.</h4>
    <br>
    <div class="d-flex justify-content-center">
        <button id="btnTutupInfo" class="btn btn-success text-light"
                style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: 2.30rem; --bs-btn-font-size: 1rem;">Tutup</button>
    </div>
</div>