<script src="../lupapassword/lupapassword.js"></script>
<div class="col-auto container-fluid justify-content-start">
    <div>Masukkan email anda. Kami akan melakukan pengecekan</div>
    <br>
    <div class="mb-3">
        <div >Email*</div>
        <div>
            <input id="emailLupaPassword" class="form-control" maxlength="100" placeholder="example@mail.com" type="email">
            <small id="emailLupaPasswordErr" class="text-danger"></small>
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <button id="btnKirimOtp" class="btn btn-success">Kirim OTP</button>
    </div>
</div>