<script src="../lupapassword/otp-lupapassword.js"></script>
<input th:value="${email}" type="hidden" id="saveEmail">
<input th:value="${idUser}" type="hidden" id="saveIdUser">

<div class="col-auto container-fluid justify-content-start">
    <div>Masukkan kode OTP yang telah dikirimkan ke email anda</div>
    <br>
    <div class="mb-3">
        <div>
            <input id="verifOtp" class="form-control text-center" maxlength="8">
            <small id="verifOtpErr" class="text-danger"></small>
        </div>
    </div>
    <div class="text-center">
        <div class="spinner-border text-success" role="status" id="divLoading" hidden>
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="div" id="textUlang">
            Kirim ulang kode OTP dalam
        </div>
        <div class="div" id="timeDelay">
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <button id="btnKirimOtp" class="btn btn-success">Konfirmasi OTP</button>
    </div>
</div>