<script src="../lupapassword/set-lupapassword.js"></script>
<input th:value="${email}" type="hidden" id="saveEmail">
<input th:value="${idUser}" type="hidden" id="saveIdUser">

<div class="col-auto container-fluid justify-content-start">
    <div>Masukkan pasword baru untuk akun anda</div>
    <br>
    <div class="mb-3">
        <div id="group_password" class="container row">
            <label for="passwordLupasInput">Password</label>
            <div class="col-md">
                <div class="input-group">
                    <input id="passwordLupasInput" type="password" class="form-control" aria-label="Input group example" aria-describedby="basic-addon1">
                    <button class="input-group-text" id="eyeIconLupapasswordButton">
                        <i id="eyeIconLupapassword" class="bi bi-eye-slash" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <small id="passwordLupasErr" class="text-danger"></small>
        </div>
    </div>
    <div class="mb-3">
        <div id="group_passwordKonfirmasi" class="container row">
            <label for="passwordLupasKonfirmasi">Masukkan ulang password</label>
            <div class="col-md">
                <div class="input-group">
                    <input id="passwordLupasKonfirmasi" type="password" class="form-control" aria-label="Input group example" aria-describedby="basic-addon1">
                    <button class="input-group-text" id="eyeIconKonfirmasiLupapasswordButton">
                        <i id="eyeIconKonfirmasiLupapassword" class="bi bi-eye-slash" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <small id="passwordLupasKonfirmasiErr" class="text-danger"></small>
        </div>
    </div>

    <br>
    <div class="d-flex justify-content-center">
        <button id="btnSetPassword" class="btn btn-success">Set Password</button>
    </div>
</div>