<script src="../login/login.js"></script>
<div class="col-auto container-fluid justify-content-start">
    <div class="mb-3">
        <div id="group_email" class="container row">
            <label for="emailInput">Email*</label>
            <div class="col form">
                <input id="emailInput" class="form-control" type="email">
            </div>
            <small id="emailInputErr" class="text-danger"></small>
        </div>
    </div>
    <div class="mb-3">
        <div id="group_password" class="container row">
            <label for="passwordInput">Password</label>
            <div class="col-md">
                <div class="input-group">
                    <input id="passwordInput" type="password" class="form-control" aria-label="Input group example" aria-describedby="basic-addon1">
                    <button class="input-group-text" id="eyeIconButton">
                        <i id="eyeIconLogin" class="bi bi-eye-slash" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <small id="passwordInputErr" class="text-danger"></small>
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-center mb-3">
        <button id="loginUserBtn" class="btn btn-success"
                style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: 2.30rem; --bs-btn-font-size: 1rem;">Masuk</button>
    </div>
    <p id="loginUserErr" class="text-danger text-center"></p>
    <div>
        <p class="text-center fs-6 lh-lg"> <a href="#" onclick="lupapassword()"> Lupa password?</a>
            <br> atau <br>
            Belum memiliki akun?
            <a href="#" onclick="registerOnLogin()">Daftar</a></p>
    </div>

</div>