
<table class="table table-borderless">
    <tr>
        <td>Nama*</td>
        <td>
            <input id="inputNama" class="form-control" maxlength="20">
            <small id="errName" class="text-danger"></small>
        </td>
    </tr>

    <tr>
        <td>Kode*</td>
        <td>
            <input id="inputKode" class="form-control" maxlength="20">
            <small id="errKode" class="text-danger"></small>
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <button id="addRoleBtnCancel" class="btn btn-warning">Batal</button>
            <button id="addRoleBtnCreate" class="btn btn-primary">Tambah</button>
        </td>
    </tr>
</table>

<script src="../roleJs/addrole.js"></script>