<input th:value="${id}" type="hidden" id="delRoleId" xmlns:th="http://www.w3.org/1999/xhtml">
<h5>Yakin Hapus? </h5>

<table class="table table-borderless table-sm">
    <tr>
        <th>Id</th>
        <td id="idDel">Kode</td>
    </tr>
    <tr>
        <th>Nama</th>
        <td id="nameDel">Nama</td>
    </tr>
    <tr>
        <th>Kode</th>
        <td id="kodeDel">kode</td>
    </tr>
</table>
<button id="delRoleBtnCancel" class="btn btn-warning">Batal</button>
<button id="delRoleBtnDelete" class="btn btn-primary">Hapus</button>

<script src="../roleJs/deleterole.js"></script>