<input th:value="${id}" type="hidden" id="editRoleId" xmlns:th="http://www.w3.org/1999/xhtml">

<!--manggil di js-->

<table class="table table-borderless">
    <tr>
        <td>Nama*</td>
        <td>
            <input id="nameEditInput" class="form-control" maxlength="20">
            <small id="errName" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Kode*</td>
        <td>
            <input id="inputKode" class="form-control" maxlength="20">
            <small id="errKode" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>
            <button id="editRoleBtnCancel" class="btn btn-warning">Batal</button>
            <button id="editRoleBtnCreate" class="btn btn-primary">Simpan</button>
        </td>
    </tr>
</table>

<script src="../roleJs/editrole.js"></script>