
<table class="table table-borderless">
    <tr>
        <td>Nama*</td>
        <td>
            <input id="inputNama" class="form-control" maxlength="20">
            <small id="errName" class="text-danger"></small>
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <button id="addCourierBtnCancel" class="btn btn-warning">Batal</button>
            <button id="addCourierBtnCreate" class="btn btn-primary">Tambah</button>
        </td>
    </tr>
</table>

<script src="../courierJs/addcourier.js"></script>