<input th:value="${id}" type="hidden" id="editCourierId" xmlns:th="http://www.w3.org/1999/xhtml">

<!--manggil di js-->

<table class="table table-borderless">
    <tr>
        <td>Nama*</td>
        <td>
            <input id="nameEditInput" class="form-control" maxlength="20">
            <small id="errName" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>
            <button id="editCourierBtnCancel" class="btn btn-warning">Batal</button>
            <button id="editCourierBtnCreate" class="btn btn-primary">Simpan</button>
        </td>
    </tr>
</table>

<script src="../courierJs/editcourier.js"></script>