
<table class="table table-borderless">
    <tr>
        <td>Lokasi</td>
        <td>
            <select id="lokasi" class="form-select" aria-label="Default select example">
                <option value="" selected="selected">Pilih Location</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Nama Dokter</td>
        <td>
            <input id="namaDokter" class="form-control" maxlength="50">
            <small id="errNamaDokter" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Spesialisasi/Sub-spesialisasi</td>
        <td>
            <select id="spesialisasi" class="form-select" aria-label="Default select example">
                <option value="" selected="selected">Pilih Specialization</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Tindakan Medis</td>
        <td>
            <select id="tindakanMedis" class="form-select" aria-label="Default select example">
                <option value="" selected="selected">Pilih Treatment</option>
            </select>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="addBtnCancel" class="btn btn-outline-dark">Cancel</button>
            <button id="addBtnUlang" class="btn btn-info">Atur Ulang</button>
            <a href="doctor/halamancaridokter" class="btn btn-primary">Cari</a>
<!--            <button id="addBtnCreate" class="btn btn-primary">Cari</button>-->
        </td>
    </tr>
</table>

<script src="../doctor/caridokter.js"></script>