<input th:value="${id}" type="hidden" id="editId">


    <div class="row">
        <td>
            <input type="file" id="filePhoto">
        </td>
    </div>
    <div class="row container-fluid justify-content-end">
        <div class= "col-auto">
            <button id="editBtnCancel" class="btn btn-warning"> Cancel </button>
            <button id="editBtnCreate" class="btn btn-warning"> Ok </button>
        </div>
    </div>



<script src="../doctor/editphoto.js"></script>